{
    "extends": [
        "prettier",
        "react-app"
    ],
    "prettier/prettier": [
        "error",
        {
            "traillingComma": "es5",
            "singleQuote": true,
            "printWidth": 120,
            "eslintIntegration": true
        }
    ],
    "jsx-ally/href-no-hash": "off",
    "jsx-ally/anchor-is-valid": [
        "warn",
        {
            "aspects": [
                "invalidHref"
            ]
        }
    ],
    "plugins": [
        "prettier"
    ]
}